.crossword-puzzle {
    border-collapse: collapse;
    border-color: #000;
}

.crossword-letter-cell {
    text-align: center;
    height: 40px;
    width: 40px;
}

.crossword-letter-text {
    font-family: helvetica;
    font-weight: bold;
}

.crossword-list-text {
    font-family: helvetica;
}

.crossword-blank-cell {
    background-color: #000;
}

.crossword-clickable {
    cursor: pointer;
}

.crossword-linkable {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}

.crossword-background-text {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    overflow: hidden;
}

.crossword-strikeout {
    position: relative;
}

.crossword-strikeout::after {
    border-bottom: 0.250em solid blue;
    content: "";
    left: 0;
    margin-top: calc(0.125em / 2 * -1);
    position: absolute;
    right: 0;
    top: 50%;
}

.crossword-red-strikeout {
    position: relative;
}

.crossword-red-strikeout::after {
    border-bottom: 0.250em solid red;
    content: "";
    left: 0;
    margin-top: calc(0.250em / 2 * -1);
    position: absolute;
    right: 0;
    top: 50%;
}

.crossword-grid-cell-number {
    float: left;
    font-family: tahoma;
    font-size: 0.6em;
}

.crossword-relative-position {
    position: relative;
}

#answer-form {
    display: none;
    border: 2px solid black;
    font-family: tahoma;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 30em;
    height: 12em;
    margin-top: -9em;
    margin-left: -15em;
    background-color: #f3f3f3;
}


